.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  background: @autocompletes-bg;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: @autocompletes-heigth;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  min-width: 500px;
}

.pagination-autocomplete {
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  background: @autocompletes-bg;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
  /* core styles should not be changed */
  display: none;
  position: absolute;
  z-index: 9999;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  min-width: 500px;
}

.autocomplete-suggestion {
  position: relative;
  padding: 0 .6em;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.02em;
  color: @autocomplete-suggestion-color;
}

.autocomplete-suggestion b {
  font-weight: normal;
  color: @autocomplete-suggestion-b-color;
}

.autocomplete-suggestion.selected {
  background: @autocomplete-suggestion-select-bg;
}
