@font-face {
  font-family: 'FontAwesome';
  src: url('@{icon-font-path}/fontawesome-webfont.eot?v=@{version}');
  src: url('@{icon-font-path}/fontawesome-webfont.eot?#iefix&v=@{version}') format('embedded-opentype'),
    url('@{icon-font-path}/fontawesome-webfont.woff2?v=@{version}') format('woff2'),
    url('@{icon-font-path}/fontawesome-webfont.woff?v=@{version}') format('woff'),
    url('@{icon-font-path}/fontawesome-webfont.ttf?v=@{version}') format('truetype'),
    url('@{icon-font-path}/fontawesome-webfont.svg?v=@{version}#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font: normal normal normal @font-size-base/@line-height-base FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@icon-list:     
add                 "\f067",
delete              "\f1f8",
close               "\f00d",
edit                "\f040",
search              "\f002",
about               "\f00e",
import              "\f019",
export              "\f093",
save                "\f0c7",
print               "\f02f",
parameter           "\f013",
info                "\f129",
question            "\f128",
link                "\f0c1",
next                "\f054",
previous            "\f053",
exchange            "\f0ec",
warning             "\f071",
copy                "\f016",
star                "\f005",
archive             "\f187",
date                "\f073",
share               "\f064",
back                "\f0e2",
comment             "\f075",
users               "\f0c0",
user                "\f007",
folder              "\f114",
folder-open         "\f115",
stats               "\f200",
sort-asc            "\f0de",
sort-desc           "\f0dd",
ticket              "\f145",
lock                "\f023",
unlock              "\f09c",
show                "\f06e",
hide                "\f070",
fax                 "\f1ac",
home                "\f015",
sign-in             "\f011",
sign-out            "\f08b",
purchase            "\f07a",
file-pdf            "\f1c1",
file-zip            "\f1c6",
file-text           "\f0f6",
notification        "\f0a2",
up                  "\f0d8",
down                "\f0d7",
parameter           "\f013",
check               "\f00c",
list                "\f0cb";

.iconify-all(@icon-list);

.icon-1x {
  font-size: @font-size-base;
}

.icon-2x {
  font-size: (@font-size-base * 2);
}

.icon-3x {
  font-size: (@font-size-base * 3);
}

.icon-4x {
  font-size: (@font-size-base * 4);
}

.icon-5x {
  font-size: (@font-size-base * 5);
}

.icon-disabled {
  color: @icon-disabled-color;
}
