.select {
  .dropdown;
  width: 100%;
  > button.btn {
    // min-height: (@line-height-computed + 14);
    width: 100%;
    background: linear-gradient(lighten(@select-default-bg, 25%), @select-default-bg);
    border: 1px solid @select-default-border;
    color: @select-default-color;
    .select-text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
    .caret {
      position: absolute;
      top: 45%;
      right: 10px;
    }
  }
  > .select-options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: @zindex-dropdown;
    display: none; // none by default, but block on "open" of the menu
    float: left;
    min-width: 160px;
    height: auto;
    overflow-x: hidden;
    max-height: 200px;
    list-style: none;
    font-size: @font-size-base;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    background-color: @dropdown-bg;
    .box-shadow(0 6px 12px rgba(0,0,0,.175));
    background-clip: padding-box;

    width: 100%;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
    border: 1px solid @select-default-border;
    border-top: 0;


    > li > input.option-status[type="checkbox"] {
      display: none;
    }
    > li > a {
      display: block;
      clear: both;
      font-weight: normal;
      line-height: @line-height-base;
      white-space: nowrap; // prevent links from randomly breaking onto new lines

      padding: 3px 10px;
      background-color: @select-option-bg;
      color: @select-option-color;
      border-bottom: solid 1px @select-option-border;
      .transition(all 0.6s ease-out);

    }
    > li:nth-of-type(odd) > a {
      background-color: @select-option-accent;
    }
    > li[aria-selected="true"] > a {
      background-color: @select-option-active-bg;
      color: @select-option-active-color;
    }
    > li > a {
      &:hover {
        background-color: @select-option-hover-bg;
        color: @select-option-hover-color;
        padding-left: 20px;
      }
      &:focus {
        background-color: @select-option-hover-bg;
        color: @select-option-hover-color;
      }
    }
    > li > a.noselect {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    }
  }
}

selectpicker {
  min-width: 160px;
  &.selectpicker-sm {
    button.btn {
      &:extend(.btn-sm);
    }
  }
  &.selectpicker-lg {
    button.btn {
      &:extend(.btn-lg);
    }
  }
}
.select.open {
  > .select-options {
    display: block;
  }
  // Remove the outline when :focus is triggere
  > a {
    outline: 0;
  }
  > .select-toggle.btn-default {
    background: linear-gradient(lighten(@select-default-bg, 25%), @select-default-bg);
    color: @select-default-color;
    border: 1px solid @select-default-border;
  }
}
