.slidepicker {
  position : absolute;

  .slidepicker-track {
    background: #fbfbfb;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: left;
    height: 8px;
    position: absolute;
    width: 100%;
  }

  .slidepicker-handle {
      display: block;
      position: absolute;
      top: -5px;
      left : 33px;
      background: blue;
      cursor: pointer;
      height: 25px;
      margin: -4px 0 0 -6px;
      width: 10px;
  }

  .slidepicker-label {
    margin : 0px;
    padding : 0px;
    margin-top : 20px; //Position label in bottom tracker

    li{

      float : left;
      display: block;
      margin-left: 28px;
      margin-right: 28px;
      &.active {
        a{
          color: blue;
          font-weight: bold;
        }
      }
      a{
        display : block;
        clear : both;
        font-weight: normal;
        color : #000;
        white-space: nowrap;
        cursor: pointer;
        text-decoration: none;

      }
    }
  }

  &.slidepicker-vertical {
    width: 14px;
    position: absolute;


    .slidepicker-track {
        background: #fbfbfb;
        border: 1px solid #ddd;
        border-radius: 4px;
        float: left;
        height: 100%;
        position: absolute;
        width: 8px;
    }
    .slidepicker-handle {
        display: block;
        left: -4px;
        top: 33px;
        position: absolute;
        background: blue;
        cursor: pointer;
        height: 10px;
        width: 25px;
    }
    .slidepicker-label {
      margin : 0px;
      padding : 0px;
      margin-left: 20px;
      li {
        float: left;
        display: block;
        margin-left : 0px;
        margin-right: 0px;
        &.active {
          a{
            color : blue;
            font-weight: bold;
          }
        }
        a{
          display : block;
          clear : both;
          font-weight: normal;
          color : #000;
          white-space: nowrap;
          cursor: pointer;
          text-decoration: none;
        }
      }
      &.small li{
        margin-top: 29px;
        margin-bottom: 29px;
      }
      &.medium li{
        margin-top : 58px;
        margin-bottom : 58px;
      }
      &.large li{
        margin-top : 87px;
        margin-bottom : 87px;
      }
    }
  }
}
