slidepicker {
  position: relative;
  display: block;
  //slidepicker vertical
  .slidepicker-track {
    background: @slidepicker-track-bg;
    border: 1px solid @slidepicker-track-border-color;
    border-radius: 4px;
    float: left;
    height: 8px;
    position: absolute;
    width: 100%;
  }

  .slidepicker-handle {
      display: block;
      position: absolute;
      top: -5px;
      background: @slidepicker-handle-bg;
      cursor: pointer;
      height: 25px;
      margin: -4px 0 0 -6px;
      width: 10px;
  }

  .slidepicker-label {
    margin : 0px;
    padding : 0px;
    margin-top : 20px; //Position label in bottom tracker

    slidepicker-option{

      float : left;
      display: block;
      margin-left: 28px;
      margin-right: 28px;
      &.active {
        a{
          color: @slidepicker-a-active;
          font-weight: bold;
        }
      }
      a{
        display : block;
        clear : both;
        font-weight: normal;
        color : @slidepicker-a;
        white-space: nowrap;
        cursor: pointer;
        text-decoration: none;

      }
    }
  }
  //slidepicker-vertical
  &.slidepicker-vertical {
    width: 14px;

    .slidepicker-track {
        height: 100%;
        width: 8px;
    }
    .slidepicker-handle {
        //Position of handler, center with tracker
        left: -4px;
        height: 10px;
        width: 25px;
    }
    .slidepicker-label {
      margin : 0px;
      margin-left: 20px;

      //adapt li with different input sizing
      //use padding for no collapsing margins
      slidepicker-option {
        float: none;
        margin-left : 0px;
        margin-right: 0px;
        padding-top: 27px;
        padding-bottom: 27px;
      }
      &.sm slidepicker-option{
        padding-top: 25px;
        padding-bottom: 25px;
      }
      &.lg slidepicker-option{
        padding-top : 33px;
        padding-bottom : 33px;
      }
    }

    &.slidepicker-sm {
      slidepicker-option {
        padding-top: 25px;
        padding-bottom: 25px;
        a {
          font-size: @font-size-small;
        }
      }
    }

    &.slidepicker-lg {
      slidepicker-option {
        padding-top : 33px;
        padding-bottom : 33px;
        a {
          font-size: @font-size-large;
        }
      }
    }

  }

}
