//Tree component


atlui-tree {
  border: 1px solid @tree-default-color;
  border-top: none;
  position: relative;
  display: block;
  atlui-tree-node {
    position : relative;
    line-height: @tree-node-line-height;
    display: block;
    border-top: 1px solid @tree-default-color;

    .tree-expander {
      position: absolute;
      margin-left : @tree-node-margin-left;
      top : @tree-icon-top;
      z-index: 1;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;

      &:not(.icon-disabled) {
        cursor : pointer;
      }
    }

    .tree-node-label {
      color: black;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .tree-node-plugins {
      float: right;
      .tree-node-plugin {
        display: inline-block;
      }
    }

    .tree-node-selection {
      color: @brand-primary;
      .tree-node-label {
        color: @brand-primary;
      }
    }

    .tree-node-selection {
      color: @brand-primary;
      .tree-node-label {
        color: @brand-primary;
      }
    }

    .tree-node-checkbox {
      display: inline-block;
      .checkbox {
        //margin it's require to place correctly checkbox
        margin-top: 0;
        margin-bottom: 0;
        label {
          cursor: default;
          &::before {
            cursor : pointer;
            top: 4px;
          }
        }
      }
    }

    .tree-node-handle[atlui-sortable-handle] {
      &:before {
        font-family: "FontAwesome";
        content: "\f0b2";
        font-size: @font-size-checkbox - 2;
        line-height: @line-height-checkbox;
      }
    }

    &.tree-node-sorted {
      border: 1px dashed @secondary;
    }

    .sub-tree {
      border: none !important;
    }
  }

}
