//Tree component


tree {
  border: 1px solid @tree-default-color;
  border-top: none;
  position: relative;
  display: block;
  tree-node {
    position : relative;
    line-height: 25px;
    min-height: 25px;
    display: block;
    border-top: 1px solid @tree-default-color;

    .tree-expander {
      position: absolute;
      margin-left : -20px;
      top : 3px;
      z-index: 1;
      user-select: none;

      &:not(.icon-disabled) {
        cursor : pointer;
      }
    }

    .tree-node-label {
      color : black;
    }

    .tree-node-line {
      padding-right: 40px;
    }

    .tree-node-checkbox {
      display: inline-block;
      right: 12px;
      top: 3px;
      position: absolute;
      .checkbox {
        margin-top: 0;
        margin-bottom: 0;
        label {
          cursor: default;
          &::before {
            cursor : pointer;
          }
        }
      }
    }

    span[sortable-handle] {
      &:before {
        right: 4px;
        top: 4px;
        position: absolute;
        font-family: "FontAwesome";
        content: "\f0b2";
        font-size: @font-size-checkbox - 2;
        line-height: 16px;
      }
    }

    &.tree-node-sorted {
      border: 1px solid @tree-default-color;
    }
  }

}
