dist: trusty
language: node_js
sudo: required
node_js:
  - "8"

addons:
  chrome: stable
  firefox: latest

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
