<div class="tree-node-line" [ngClass]="{'tree-node-selection': node === nodeSelected}">
  <span *ngIf="children" class="tree-expander icon" [ngClass]="{
    'icon-folder-open': expanded,
    'icon-folder': !expanded,
    'icon-disabled': disabled }"
    (click)='ExpandClick()'>
  </span>
  <span *ngIf="loading" class="icon icon-spinner icon-spin">
  </span>
  <div class="tree-node-plugins" *ngIf="!loading">
    <div class="tree-node-plugin mx-2" *ngFor="let plugin of plugins">
      <tree-plugin
        [plugin]="plugin"
        [icon]="plugin.icon"
        [node]="node"
        [disabled]="plugin.disabled"
        [display]="plugin.display"
        [hidden]="plugin.hidden"
        [click]="plugin.click"
        [dragenter]="plugin.dragenter"
        [dragover]="plugin.dragover"
        [dragleave]="plugin.dragleave"
        [drop]="plugin.drop"
        [dragstart]="plugin.dragstart"
        [dragend]="plugin.dragend"
        [mousedown]="plugin.mousedown"
        [mouseenter]="plugin.mouseenter"
        [mouseleave]="plugin.mouseleave"
        [mousemove]="plugin.mousemove"
        [mouseout]="plugin.mouseout"
        [mouseover]="plugin.mouseover"
        [mouseup]="plugin.mouseup"
        [dblclick]="plugin.dblclick"
        [selectedChange]="onClick.bind(this)">
      </tree-plugin>
    </div>
  </div>
  <div [title]="label" (click)="onClickNodeCallback()" [innerHTML]="label" [class.disabled]="disabled" class="tree-node-label">
  </div>
</div>
<div class="sub-tree" *ngIf="children?.length" [hidden]="!expanded" [atlui-sortable-container]="children" [draggable]="false" [dropzones]="[sortableZones]">
  <atlui-tree-node *ngFor="let child of children; let i = index"
    [(expanded)]="child.expanded"
    [(selected)]="child.selected"
    [node]="child"
    [label]="child.label"
    [model]="child.model"
    [id]="child.id"
    [children]="child.children"
    [selectable]="child.selectable"
    [loading]=child.loading
    [template]="template"
    [depth]="depth+1"
    [disabled]="child.disabled"
    [sortableZones]="sortableZones"
    [nestedSortable]="nestedSortable"
    [isSortable]="isSortable"
    [nodeSelected]="nodeSelected"
    [plugins]="plugins"
    (onExpand)="onExpand.emit($event)"
    (onCollapse)="onCollapse.emit($event)"
    (select)="onCheck($event)"
    (onClickNode)="onClickNode.emit($event)"
    (onChecked)="onChecked.emit($event)"
    (onUnchecked)="onUnchecked.emit($event)"
    [atlui-sortable]="isSortable"
    [sortableIndex]="i"
    [dropzones]="[sortableZones]"
    [nested]="nestedSortable"
    (onDragStartCallback)="onDragCallback($event, i, true)"
    (onDragEndCallback)="onDragCallback($event, i, false)"
    (onDragEnterCallback)="onDragOver($event, true)"
    (onDragLeaveCallback)="onDragOver($event, false)"
    (onDropSuccessCallback)="updateTree()">
  </atlui-tree-node>
</div>
