<div class="tree-node-line">
  <span *ngIf="children?.length" class="tree-expander icon" [ngClass]="{
    'icon-folder-open': expanded,
    'icon-folder': !expanded,
    'icon-disabled': disabled }"
    (click)='ExpandClick()'>
  </span>
  <span *ngIf="!template" [innerHTML]="label" [class.disabled]="disabled" class="tree-node-label"></span>
  <div *ngIf="selectable" class="tree-node-checkbox">
    <div class="checkbox">
      <input type="checkbox" [ngModel]="selected" (click)="onClick()" [attr.disabled]="disabled">
      <label>
        &nbsp;
      </label>
    </div>
  </div>
  <span *ngIf="isSortable" sortable-handle></span>
</div>
<div *ngIf="children?.length" [hidden]="!expanded" [sortable-container]="children" [draggable]="isSortable" [dropzones]="[sortableZones]">
  <tree-node *ngFor="let child of children; let i = index"
    [(expanded)]="child.expanded"
    [(selected)]="child.selected"
    [label]="child.label"
    [model]="child.model"
    [id]="child.id"
    [children]="child.children"
    [selectable]="child.selectable"
    [template]="template"
    [depth]="depth+1"
    [disabled]="child.disabled"
    [sortableZones]="sortableZones"
    [nestedSortable]="nestedSortable"
    [isSortable]="isSortable"
    (expand)="expand.emit($event)"
    (collapse)="collapse.emit($event)"
    (select)="onSelect($event)"
    [sortable]="isSortable"
    [sortableIndex]="i"
    [dropzones]="[sortableZones]"
    [nested]="nestedSortable"
    (onDragStartCallback)="onDragCallback($event, i, true)"
    (onDragEndCallback)="onDragCallback($event, i, false)"
    (onDragEnterCallback)="onDragOver($event, true)"
    (onDragLeaveCallback)="onDragOver($event, false)">
  </tree-node>
</div>
